[submodule "third_party/gitea-mcp"]
	path = third_party/gitea-mcp
	url = https://gitea.com/gitea/gitea-mcp.git
[submodule "third_party/mangle-go"]
	path = third_party/mangle-go
	url = https://codeberg.org/TauCeti/mangle-go.git
